<div class="modal-header loginpopUp_header" style="height: 50px;     background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
    <span class="modal-title" style="font-weight: 200;">
        <b>&nbsp;Event Details</b>
    </span>
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()">&times;</button>
</div>
<div class="modal-body">

    <table>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td> {{eventDetails.senderName}} </td>
        </tr>
        <tr>
            <td>
                <label>Topic</label>
            </td>
            <td>{{eventDetails.title}}</td>
        </tr>
        <tr>
            <td>
                <label>Timing</label>
            </td>
            <td>{{eventDetails.startsAt | date:'h:mm a'}}-{{eventDetails.endsAt | date:'h:mm a'}} </td>
        </tr>
        <tr>
            <td>
                <label>Message</label>
            </td>
            <td>{{eventDetails.reason}}</td>
        </tr>
        <tr>
            <td>
                <label>Receiver Emails</label>
            </td>
            <td>
                <span ng-repeat="email in eventDetails.invitingTo">
                    {{email}}
                </span>
            </td>
        </tr>
    </table>





    <!-- ng-if only for history -->
    <!-- <thead ng-if="eventDetails.teacher_mom && eventDetails.parent_mom">
        <tr>
            <td>
                <div class="panel-heading">
                    Minutes of Meeting
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-if="loginType='teacher'">
                <div style="color:green">{{eventDetails.teacher_mom}} </div>
            </td>
            <td ng-if="loginType='studParent'">
                <div style="color:green">{{eventDetails.parent_mom}} </div>
            </td>

        </tr>
    </tbody> -->
    <!-- <thead ng-if="viewType=='history'">
            <tr>
                <th>
                    <div class="panel-heading">
                        VC Record
                    </div>
                </th>
            </tr>
        </thead>
        <tbody ng-if="viewType=='history'">
            <tr>
                <td>
                    Video Conference
                </td>
                <td>
                    <video id="videoPlayer" autoplay='true' controls>
                        <source src="{{videoSrc}}" type="video/mp4"> Your browser does not support the video tag.
                    </video>
                </td>
            </tr>
        </tbody> -->

</div>
<div class="modal-footer loginpopUp_footer" style="    background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
</div>