<div class="modal-header loginpopUp_header" style="height: 50px;">
    <button type="button" class="close" ng-click="$close()">&times;</button>
</div>
<style>
    .btn {
        background: none;
        box-shadow: none;
    }

    .modal-content {
        border-radius: 5px;
        background: white;
    }
</style>
<div class="modal-body">
    <table>
        <tdead>
            <tr>
                <td>
                    <h4>Schedule on &nbsp</h4>
                </td>
                <td>
                    <h4 style="color:coral">:&nbsp{{ eventDetails.startsAt | date }}</h4>
                </td>
            </tr>
        </tdead>
        <tbody>
            <tr>
                <td>
                    <h4>Title &nbsp</h4>
                </td>
                <td>
                    <h4 style="color:coral">:&nbsp
                        <input style="margin-top:10px;" type="text" ng-model="eventDetails.title">
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Inviting To &nbsp</h4>
                </td>
                <td>
                    <h4 style="color:coral">:&nbsp
                        <input style="margin-top:10px;" type="text" ng-model="eventDetails.emailList">
                    </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        Timing &nbsp
                    </h4>
                </td>
                <td>

                    <div uib-timepicker ng-model="eventDetails.startsAt" hour-step="1" minute-step="20" show-meridian="true">
                    </div>
                </td>
                <td>
                    <div uib-timepicker ng-model="eventDetails.endsAt" hour-step="1" minute-step="20" show-meridian="true">
                    </div>
                </td>
            </tr>


        </tbody>
    </table>
    <table>
        <tdead>
            <tr>
                <div class="form-group">
                    <label for="comment">Message:</label>
                    <textarea class="form-control" rows="5" id="comment" ng-model="eventDetails.reason"></textarea>
                </div>
            </tr>
        </tdead>
    </table>

</div>
<div class="modal-footer loginpopUp_footer">
    <button class="btn btn-warning loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
    <button class="btn btn-primary" data-dismiss="modal" ng-click="save( eventDetails.title,eventDetails.emailList,eventDetails.startsAt,eventDetails.endsAt, eventDetails.reason)">Save</button>
</div>