<div ng-controller="careator_dashboardCtrl">
<link rel="stylesheet" href="../dashboard_Lib/css/style.css" /> 
 <!-- <link rel="stylesheet" href="././dashboard_Lib/css/style-responsive.css" />
    <link rel="stylesheet" href="././dashboard_Lib/css/elegant-icons-style.css" />  -->

    <!-- <div id="loadings"></div> -->
    <!-- container section start -->
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                    <i class="icon_menu" ng-click="iconMenuClick()"></i>
                </div>
            </div>
            <span>
                <img ng-click="homeClick()" style="float:left;width: 63px;margin-top: 5px" src="../home/img/fav.png" />
                <a ng-click="homeClick()" class="logo" style="font-weight: 500; letter-spacing: -2.3px;font-family: 'Allerta Stencil';">VC4ALL</a>
            </span>
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">

                    <li class="dropdown">

                        <span class="username" style="color: white;">
                            {{clock | date:' d MMM yyyy h:mm a'}}</span>
                    </li>
                </ul>
            </div>
        </header>

        <!-- <header id="header">
                <div class="container">
                  <div id="logo" class="pull-left">
                    <span>
                      <img style="float:left;" src="././home/img/fav.png" />
                      <a href="/" id="mm" style="font-size: 33px;
                      letter-spacing: -2.3px;
                  font-weight: 500;
                  font-family: 'Allerta Stencil';
                  color: #a8cf44 !important;
                  float: left;
                  margin-top: 4px;
                  text-transform: uppercase;">
                        <span>
                          <span id="vc">VC4ALL</span>
                        </span>
                      </a>
                    </span>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li ng-if="userData.loginType" id="dashboard" style="display:block;">
                        <a href="#!dashboard/personalDetail">DASHBOARD
                        </a>
                      </li>
                      <li>
                        <a href="#services">FEATURES</a>
                      </li>
                      <li>
                        <a href="#contact">ABOUT US</a>
                      </li>
                      <li ng-if="!userData.loginType">
                        <a href="#" data-target="#crdntl" data-toggle="modal">LOGIN</a>
                      </li>
                      <li ng-if="userData.loginType">
                        <a href="#!dashboard/logout">LOGOUT</a>
                      </li>
        
                    </ul>
                  </nav>
        
                </div>
              </header> -->

        <!-- <img   class="kklklk" src="robot.gif" style="margin-top: 81px; background: #a8d043ab; z-index: 1000; width: 100px;">-->
        <div id="grline" class="moving" style="position: fixed;
              height: 5px;
              left: 0;
              top: 59px;
              right: 0;
              z-index: 1000;
             ">
        </div>
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse" style="margin-top: 60px;">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" ng-hide="sideBarMenu">
               
                    <li id="alink">
                        <a ng-click="homeClick()" class="home">
                            <i style="font-size:15px;" class="fa fa-home">
                                <span>&nbspCreate User</span>
                            </i>
                        </a>
                    </li>
                    <li id="alink">
                        <a ng-click="homeClick()" class="home">
                            <i style="font-size:15px;" class="fa fa-home">
                                <span>&nbspCreate Group</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i style="font-size:15px;" class="fa fa-user-circle">
                                <span>&nbspUser List</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a >
                            <i style="font-size:15px;" class="fa fa-user-circle">
                                <span>&nbspGroup List</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/dashboard/personalDetail">
                            <i style="font-size:15px;" class="fa fa-user-circle">
                                <span>&nbspUser List</span>
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!--sidebar end-->
        <div ui-view class="user-body">
        </div>
        
    </section>

</div>