<div ng-controller="careator_dashboardCtrl">
        <link rel="stylesheet" href="../dashboard_Lib/css/style.css" />
        <link rel="stylesheet" href="../dashboard_Lib/css/style-responsive.css" />
        <link rel="stylesheet" href="../dashboard_Lib/css/elegant-icons-style.css" />

 <!-- <link rel="stylesheet" href="././dashboard_Lib/css/style-responsive.css" />
    <link rel="stylesheet" href="././dashboard_Lib/css/elegant-icons-style.css" />  -->

    <!-- <div id="loadings"></div> -->
    <!-- container section start -->
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                    <i class="icon_menu" ng-click="iconMenuClick()"></i>
                </div>
            </div>
            <span>
                <img ng-click="homeClick()" style="float:left;width: 63px;margin-top: 5px" src="../home/img/fav.png" />
                <a ng-click="homeClick()" class="logo" style="font-weight: 500; letter-spacing: -2.3px;font-family: 'Allerta Stencil';">VC4ALL</a>
            </span>
        </header>
        
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse" style="margin-top: 60px;">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" ng-hide="sideBarMenu">
               
                    <li>
                        <a href="#!/dashboard/userCreate" class="home">
                            <i style="font-size:15px;" class="fa fa-home">
                                <span>&nbspCreate User</span>
                            </i>
                        </a>
                    </li>
                    <li>
                            <a href="#!/dashboard/usersList" class="home">
                            <i style="font-size:15px;" class="fa fa-home">
                                <span>&nbspCreate Group</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i style="font-size:15px;" class="fa fa-home">
                                <span>&nbspUser List</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i style="font-size:15px;" class="fa fa-home">
                                <span>&nbspGroup List</span>
                            </i>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </aside>
        <!--sidebar end-->
        <div ui-view class="user-body">
        </div>
        
    </section>
    <!-- <script src="../dashboard_Lib/js/jquery.js"></script> -->
<script src="../dashboard_Lib/js/bootstrap.min.js"></script>
<script src="../dashboard_Lib/js/jquery.nicescroll.js"></script>
<script src="../dashboard_Lib/js/jquery.scrollTo.min.js"></script>
<script src="../dashboard_Lib/js/scripts.js"></script>

</div>