<div ng-controller="createUsersCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspCREATE USER</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <form class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div class="form-group ">

                                <label class="control-label col-lg-3">Upload User Details*</label>
                                <div class="col-lg-9">
                                    <span>
                                        <input type="file" style="margin-left: -10px; width: 166px;
                                                    font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage"
                                            value="Upload" image-with-preview file-model="careatorEmp" ng-model="image" accept="csv"
                                            ng-required="true">
                                    </span>
                                </div>
                            </div>









                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-info" ng-click="uploadCareatorEmp(careatorEmp)">Upload</button>
                            </div>

                        </form>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>