<div ng-controller="groupListCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-users"></i>
                        <span style="color:white;">&nbspGROUP LIST</span>
                    </div>

                    <div class="form-group">
                        <table class="table table-sm">
                            <thead style="background: aliceblue;">
                                <tr>
                                    <th>#</th>
                                    <th>Group-name</th>
                                    <th>Admin</th>
                                    <th>Members</th>
                                    <th>Status</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emp in groupList">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{emp.groupName}}
                                    </td>
                                    <td>
                                        {{emp.admin.name}}
                                    </td>

                                    <td>
                                            <div ng-repeat="name in emp.groupMembers">{{name.name}}</div>
                                        

                                    </td>
                                    <td>
                                        Active
                                    </td>
                                    <td>
                                        <button ng-if="emp.status=='inactive' ||emp.status== null" ng-click="statusChange(emp_id, 'active')">Activate</button>
                                        <button ng-if="emp.status=='active'" ng-click="statusChange(emp_id, 'inactive')">Deactivate</button>
                                        <button>Delete</button>
                                        <button>
                                            <a href="#!/dashboard/editGroup">Edit</a>
                                        </button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </section>




            </div>
        </section>

    </section>

</div>