<div ng-controller="profileCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspProfile</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 15px; margin: 0px !important;">
                        <div class="row" style="background: #2196f33b;">

                            <div class="col-md-6" style="padding: 10px;">
                                <div align="center">
                                    <img alt="User Pic" style="max-width: 200px;" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                        id="profile-image1" class="img-circle img-responsive">

                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;cursor: pointer;">click here to change profile image</div>

                                </div>


                            </div>
                            <div class="col-sm-4">
                                <h2 style="color:#00b1b1;">{{userData.userName}}</h2>

                                <span>
                                    <p>Software Engg.</p>
                                </span>
                            </div>
                            <div onload="init();">
                                <h1>Take a snapshot of the current video stream</h1>
                                Click on the Start WebCam button.
                                <p>
                                    <button onclick="startWebcam();">Start WebCam</button>
                                    <button onclick="stopWebcam();">Stop WebCam</button>
                                    <button onclick="snapshot();">Take Snapshot</button>
                                </p>
                                <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
                                <p>

                                    Screenshots :
                                    <p>
                                        <canvas id="myCanvas" width="400" height="350"></canvas>
                            </div>
                        </div>

                        <br>
                        <div class="col-md-6">
                            <table class=" table table-hover">
                                <tr>
                                    <td>
                                        <div style="float: right;"> Name :</div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.userName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="float: right;">
                                            Email : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.email}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="float: right;">
                                            Employee Id : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.empId}}
                                    </td>
                                </tr>

                                <tr ng-if="userData.videoRights=='yes' && userData.chatRights=='yes'">
                                    <td>
                                        <div style="float: right;">
                                            Acess : </div>
                                    </td>
                                    <td style="color:#00b1b1;">
                                        Chat , Video
                                    </td>
                                </tr>
                                <tr ng-if="userData.videoRights=='yes' && userData.chatRights=='no'">
                                    <td>
                                        <div style="float: right;">
                                            Acess : </div>
                                    </td>
                                    <td style="color:#00b1b1;">
                                        Video
                                    </td>
                                </tr>
                                <tr ng-if="userData.videoRights=='no' && userData.chatRights=='yes'">
                                    <td>
                                        <div style="float: right;">
                                            Acess : </div>
                                    </td>
                                    <td style="color:#00b1b1;">
                                        Chat
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="float: right;">
                                            Group : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        <span ng-repeat="group in allGroup" style="background: wheat;
                                        width: max-content;
                                        padding: 3px;
                                        border-radius: 5px;
                                        margin-right: 5px;">
                                            {{group.groupName}}
                                        </span>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div style="float: right;">
                                            Can Connect with : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.restrictedTo}}
                                    </td>
                                </tr> -->

                            </table>
                        </div>







                    </div>



                </section>
            </div>
        </section>
    </section>
    <script>
        //--------------------
        // GET USER MEDIA CODE
        //--------------------
        navigator.getUserMedia = (navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia);

        var video;
        var webcamStream;

        function startWebcam() {
            if (navigator.getUserMedia) {
                navigator.getUserMedia(

                    // constraints
                    {
                        video: true,
                        audio: false
                    },

                    // successCallback
                    function (localMediaStream) {
                        video = document.querySelector('video');
                        video.src = window.URL.createObjectURL(localMediaStream);
                        webcamStream = localMediaStream;
                    },

                    // errorCallback
                    function (err) {
                        console.log("The following error occured: " + err);
                    }
                );
            } else {
                console.log("getUserMedia not supported");
            }
        }

        function stopWebcam() {
            webcamStream.stop();
        }
        //---------------------
        // TAKE A SNAPSHOT CODE
        //---------------------
        var canvas, ctx;

        function init() {
            // Get the canvas and obtain a context for
            // drawing in it
            canvas = document.getElementById("myCanvas");
            ctx = canvas.getContext('2d');
        }

        function snapshot() {
            // Draws current image from the video element into the canvas
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        }
    </script>
</div>