<div ng-controller="usersListCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspUSER LIST</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 15px;">


                            <section class="panel">
                                    <div class="form-group">
                                        <div class="panel-heading">
                                            <i class="fa fa-user-circle"></i>
                                            <span style="color:white;">&nbspADMIN</span>
                                        </div>
                                        <table class="table table-sm">
                                            <thead class="panel-heading">
                                                <tr>
                                                    <th>#</th>
                
                                                    <th>Admin Name</th>
                                                    <!-- <th>Email</th> -->
                                                    <th>Phone Number</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                    <!-- <th>View</th>
                                                        <th>Delete</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="ad in teacherData" ng-if="ad.loginType=='admin'">
                                                    <td style="background-color:white;">{{$index+1}}.</td>
                                                    <td style="background-color:white;">{{ad.firstName + " " + ad.lastName}}</td>
                                                    <!-- <td style="background-color:white;">{{ad.email}}</td> -->
                                                    <td style="background-color:white;">{{ad.mobNumber}}</td>
                                                    <td style=" background-color:white; color:red;" ng-if="ad.status=='inactive'">Inactive</td>
                                                    <td style=" background-color:white; color:green;" ng-if="ad.status=='active'">Active</td>
                                                    <td style="background-color:white;">
                                                        <button class="btn btn-danger" ng-if="ad.status=='active'" ng-click="updateAdminStatus(ad._id,'inactive',$index)">Deactivate</button>
                                                        <button class="btn btn-info" ng-if="ad.status=='inactive'" ng-click="updateAdminStatus(ad._id,'active',$index)">Activate</button>
                                                        <button class="btn btn-warning" ng-click="viewUser(ad._id, 'teacher')">View</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>




                    </div>
                </section>
            </div>
        </section>
    </section>
</div>