<div ng-controller="usersListCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspUSER LIST</span>
                    </div>

                    <div class="form-group">
                        <table class="table table-sm">
                            <thead class="panel-heading">
                                <tr>
                                    <th>#</th>

                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Chat</th>
                                    <th>Video</th>
                                    <th>Status</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emp in allemployee">
                                    <td>

                                    </td>
                                    <td>
                                        {{ emp.email.split('@')[0] }}
                                    </td>
                                    <td>
                                        {{emp.email}}
                                    </td>
                                    <td>
                                        <i ng-if="emp.chatRights=='yes'" class="fa fa-check" style="color: green"></i>
                                        <i ng-if="emp.chatRights=='no'" class="fa fa-times" style="color: red"></i>
                                    </td>
                                    <td>
                                        <i ng-if="emp.videoRights=='yes'" class="fa fa-check" style="color: green"></i>
                                        <i ng-if="emp.videoRights=='no'" class="fa fa-times" style="color: red"></i>
                                    </td>
                                    <td>
                                        {{emp.status}}
                                    </td>
                                    <td>
                                        <button ng-if="emp.status=='inactive'" ng-click="statusChange(emp._id, 'active')">Activate</button>
                                        <button ng-if="emp.status=='active'" ng-click="statusChange(emp._id, 'inactive')">Deactivate</button>
                                        <button>Delete</button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="form-group">
                        <button>Add User</button>
                    </div>

                    <div class="form-group ">
                        <label class="col-lg-3">Username</label>
                        <div class="col-lg-9">
                            <input type="text">
                        </div>
                 
                        <label class="col-lg-3">Email</label>
                        <div class="col-lg-9">
                            <input type="email">
                        </div>
        
                        <label class="col-lg-3">Chat</label>
                        <div class="col-lg-9">
                            <input type="checkbox">
                        </div>
                        <hr>
               
                        <label class="col-lg-3">Video</label>
                        <div class="col-lg-9">
                            <input type="checkbox">
                        </div>
                    </div> -->
                </section>




            </div>
        </section>

    </section>

</div>