<div class="modal-header">
    <i class="fa fa-warning">{{message}}</i>{{message}}

</div>

<style>
    .modal-header {
        border-radius: 5px !important;
        background: rgb(150, 40, 40) !important;
        text-shadow: 0 0 0 0 !important;

    }

    .modal-content {
        background: rgba(255, 255, 255, 0) !important;
        border: none !important;



    }

    .modal-dialog {
        border-radius: 10px !important;

        /* -webkit-animation: fadeinout 5s linear forwards;
        animation: fadeinout 5s linear forwards; */
    }

    @-webkit-keyframes fadeinout {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    @keyframes fadeinout {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
</style>