<div class="modal-header"> {{message}}

</div>

<style>
    .modal-header {
        border-radius: 10px !important;
        background: rgb(150, 40, 40) !important;

    }

    .modal-content {
        border-radius: 10px !important;
   

    }

    .modal-dialog {
        border-radius: 10px !important;

        -webkit-animation: fadeinout 5s linear forwards;
        animation: fadeinout 5s linear forwards;
    }

    @-webkit-keyframes fadeinout {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }

    @keyframes fadeinout {
        0%,
        100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
</style>