<div div class="modal-header loginpopUp_header">
    <h4 class="modal-title">Event Details</h4>
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">

    <table class="table-sm">
        <tr>
            <div class="panel-heading">
                Sender Details
            </div>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                <p style="color:green">{{eventDetails.senderName}}</p>
            </td>
            <td>
                Id
            </td>
            <td>
                <p style="color:green">{{eventDetails.senderId}}</p>
            </td>

        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                <p style="color:green">{{eventDetails.senderMN}}</p>
            </td>
            <td>
                Title
            </td>
            <td>
                <p style="color:green">{{eventDetails.title}}</p>
            </td>
        </tr>
        <tr>
            <td>
                Message
            </td>
            <td>
                <p style="color:green">{{eventDetails.reason}}</p>
            </td>
            <td>
                Date
            </td>
            <td>
                <p style="color:green">{{eventDetails.startsAt | date:'M/d/yy'}}</p>
            </td>
        </tr>

        <tr>
            <td>
                Message
            </td>
            <td>
                <p style="color:green">{{eventDetails.reason}}</p>
            </td>
            <td>
                Timing
            </td>
            <td>
                <p style="color:green">{{eventDetails.startsAt | date:'h:mm a'}}-{{eventDetails.endsAt | date:'h:mm a'}}</p>
            </td>
        </tr>


        <tr>
            <div class="panel-heading">
                Receiver Details
            </div>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                <p style="color:green">{{eventDetails.receiverName}}</p>
            </td>
            <td>
                Id
            </td>
            <td>
                <p style="color:green">{{eventDetails.receiverId}}</p>
            </td>
        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                <p style="color:green">{{eventDetails.receiverMN}}</p>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
</div>