<div style="margin-top: 85px;" ng-controller="studentInsertCtrl">
    <div class="container">
        <h2>Student Data Insert</h2>

        <form>
            <input type="text" ng-model="schoolName" placeholder="Enter school Name">

            <input type="text" ng-model="studId" placeholder="Enter Student id">
          
            <input type="text" ng-model="studName" placeholder="Enter Student Name">
           
            <div>
                <input type="text" ng-model="class" placeholder="Enter Class">
          
                <input type="text" ng-model="section" placeholder="Enter Section">
          
            </div>
          
            <input type="text" ng-model="parentName" placeholder="Enter parent Name">
          
            <input type="email" ng-model="parentEmail" placeholder="Enter  Email">
          
            <input type="text" ng-model="mobileNum" placeholder="Enter mobile number">
         


            <input type="password" ng-model="pswd" placeholder="Enter password">
       

            <button ng-click="saveStudent()">Submit</button>
        </form>

    </div>
</div>