
<div class="container" style="margin-top: 85px;" ng-controller="studentInsertCtrl">
    <div class="row">
        <div class="col-sm-4 col-md-4 user-details">
            <div class="user-image">
                <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Karan Singh Sisodia" title="Karan Singh Sisodia"
                    class="img-circle">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>Karan Singh Sisodia</h3>
                    <span class="help-block">Chandigarh, IN</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#email">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            <h4>Account Information</h4>
                        </div>
                        <div id="settings" class="tab-pane">
                            <h4>Settings</h4>
                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Send Message</h4>
                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div style="margin-top: 85px;" ng-controller="studentInsertCtrl">
    <div class="container">
        <h2>Student Data Insert</h2>

        <form>
            <input type="text" ng-model="schoolName" placeholder="Enter school Name">
            <hr>

            <input type="text" ng-model="studId" placeholder="Enter Student id">
            <hr>

            <input type="text" ng-model="studName" placeholder="Enter Student Name">
            <hr>

            <div>
                <input type="text" ng-model="class" placeholder="Enter Class">

                <input type="text" ng-model="section" placeholder="Enter Section">

            </div>
            <hr>

            <input type="text" ng-model="parentName" placeholder="Enter Father Name">
            <hr>

            <input type="email" ng-model="parentEmail" placeholder="Enter father Email">
            <hr>

            <input type="text" ng-model="mName" placeholder="Enter Mother Name">
            <hr>

            <input type="email" ng-model="mEmail" placeholder="Enter Mother Email">
            <hr>

            <input type="text" ng-model="mobileNum" placeholder="Enter Father number">
            <hr>
            <input type="text" ng-model="mothermobileNum" placeholder="Enter Mother number">
            <hr>



            <input type="password" ng-model="pswd" placeholder="Enter password">
            <hr>


            <button ng-click="saveStudent()">Submit</button>
        </form>

    </div>
</div> -->