<div ng-controller="allAdminCtl">
    <section id="main-content">
        <section class="wrapper">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md"></i>ALL Admin</h3>
            </div>
            <!-- page start-->

            <section class="panel">
                <div class="panel-body">
                    <div class="tab-content">
                        <!-- profile -->
                        <div id="profile">
                            <section class="panel">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <section class="panel">
                                            <header class="panel-heading">
                                                <h2>Admin </h2>
                                            </header>
                                            <table class="table table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>

                                                        <th>Admin Name</th>
                                                        <th>Email</th>
                                                        <th>Phone Number</th>
                                                        <th>Status</th>
                                                        <th>View</th>
                                                        <th>Activation</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ad in adminList">
                                                        <td style="background-color:aliceblue;">{{$index+1}}.</td>
                                                        <td style="background-color:aliceblue;">{{ad.firstName + " " + ad.lastName}}</td>
                                                        <td style="background-color:aliceblue;">{{ad.email}}</td>
                                                        <td style="background-color:aliceblue;">{{ad.mobNumber}}</td>
                                                        <td style="background-color:tomato;">{{ad.status}}</td>
                                                        <td style="background-color:tomato;"><button ng-click="viewUser(ad._id)">View</button></td>
                                                        
                                                        <td style="background-color:aliceblue;">
                                                            <button class="btn" ng-if="ad.status=='active'" ng-click="updateAdminStatus(ad._id,'inactive',$index)" style="width: 70px;">Dectivate</button>
                                                            <button class="btn" ng-if="ad.status=='inactive'" ng-click="updateAdminStatus(ad._id,'active',$index)" style="width: 70px;">Activate</button>
                                                        </td>
                                                        <td style="background-color:aliceblue;">
                                                            <button class="btn" ng-click="deleteStud(ad._id, $index)">Delete</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</div>