<div ng-controller="allSchoolCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading" style="background: #3a4a58">
                        <i class="fa fa-user-circle"></i>SCHOOL LIST
                        <!-- <span style="color:white;">SCHOOL LIST</span> -->
                    </div>
                </section>

                <div class="panel-content" style="padding: 1px;">
                    <section class="panel">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Registration Number</th>
                                    <th>School Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>

                                    <th>Activation</th>
                                    <th>View</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in allSchool">
                                    <td style="background-color:aliceblue;">{{$index+1}}</td>
                                    <td style="background-color:aliceblue;">{{sd.schoolRegNumber}}</td>
                                    <td style="background-color:aliceblue;">{{sd.schoolName}}</td>
                                    <td style="background-color:aliceblue;">{{sd.email}}</td>
                                    <td style="background-color:aliceblue;">{{sd.mobNumber}}</td>
                                    <td style="color:tomato;background-color:aliceblue;">{{sd.status}}</td>
                                    <td style="background-color:aliceblue;">
                                        <button class="btn" ng-if="sd.status=='active'" ng-click="updateSchoolStatus(sd._id,'inactive',$index)">Dectivate</button>
                                        <button class="btn" ng-if="sd.status=='inactive'" ng-click="updateSchoolStatus(sd._id,'active',$index)">Activate</button>
                                    </td>
                                    <td style="background-color:aliceblue;">
                                        <button class="btn" ng-click="viewUser(sd._id, 'school')">View</button>
                                    </td>
                                    <td style="background-color:aliceblue;">
                                        <button class="btn" ng-click="deleteStud(sd._id, $index)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>

            </div>
        </section>
    </section>
</div>