<div ng-controller="allUserCtl">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md"></i>ALL USER</h3>
            </div>
            <!-- page start-->
            <div>
                <div>
                    <section class="panel">
                        <div class="panel-body">
                            <div class="tab-content">
                                <!-- profile -->
                                <div id="profile">
                                    <section class="panel">
                                        <h1>All User </h1>
                                        <form ng-if="csList.length!=0" role="form" name="uploadForm" encType="multipart/form-data" novalidate>
                                            <div class="form-group row" ng-repeat="up in uploadReports">
                                                <label class="col-lg-4">Select School</label>
                                                <select class="btn btn-danger col-lg-4" placeholder="select" ng-model="selectedSchool" ng-options="sl as sl for sl in schoolList" ng-change="schoolUserData(selectedSchool)">
                                                    <option value="" disabled selected>Select School</option>
                                                </select>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</div>