<div ng-controller="attendanceCtl">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <i class="fa fa-user-md"></i> Attendance Report</h3>

            </div>
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="tab-content">
                                <!-- profile -->
                                <div id="profile">
                                    <section class="panel">
                                        <h1> Attendance Report </h1>
                                        <form role="form" name="uploadForm" novalidate>
                                            <div class="form-group row">
                                                    <div class="col-lg-12" style="float:left !important; position: absolute;
                                                    left: 0;">
                                    
                                                      <select class="btn btn-danger" placeholder="select" ng-model="csSelect" ng-change="getStudListForCS(csSelect)"
                                                        ng-options="cs as cs.class + '-' + cs.section for cs in csList">
                                                        <option value="" disabled selected>Class</option>
                                                      </select>
                                    
                                    
                                                      <select class="btn"  placeholder="select" ng-model="studSelect" 
                                                        ng-options="cs as cs.name + '-' + cs.studId for cs in studList">
                                                        <option value="" disabled selected>Student</option>
                                                      </select>

                                                      <select class="btn"  placeholder="select" ng-model="ttSelect" 
                                                      ng-options="tt as tt for tt in testTypes">
                                                      <option value="" disabled selected>Type of test</option>
                                                    </select>
                                    
                                    
                                                    </div>
                                                    <div class="row" >
                                                            <div class="form-group" ng-repeat="x in css">
                                                                    <label class="control-label col-lg-2">Subject
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                        <input class=" form-control" ng-model="x.subject" type="text" />
                                                                    </div>
                                                                    <label class="control-label col-lg-2">Mark
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                        <input class=" form-control" ng-model="x.mark" type="text" />
                                                                    </div>
                                                                    <label class="control-label col-lg-2">Attendance
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                        <input class=" form-control" ng-model="x.attendance" type="text" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button class="btn-success" ng-click="addSCC()">Add Subject-Mark-Attendance</button>
                                    
                                                                    <label class="control-label col-lg-2">Password
                                                                        <span class="required">*</span>
                                                                    </label>
                                                                    <div class="col-lg-2">
                                                                        <input class="form-control" ng-model="pswd" type="text" />
                                                                    </div>
                                                                </div>
                                                        </div>
                                            </div>
                                           <!--   <div class="form-group">

                                               <label class="col-lg-2 control-label">Upload File</label>
                                                <div class="col-lg-6"> -->

                                                    <!-- <label class="emailModel-lab">File
                                                        <span ng-show="uploadForm.myImage.$error.required" class="mandatorySymbol"></span>
                                                    </label> -->
                                                    <!-- <input type="file" style="display: inline-block;width:60%;float:left" class="btnCont btnCont-uploadColor" name="myImage"
                                                        value="Upload" image-with-preview file-model="file.upload" ng-model="image"
                                                        accept="image/jpeg,image/png" ng-required="true">
                                                    <img ng-show="image.src" ng-src="{{image.src}}" style="width: 50%;margin-top: 2%;" /> -->
                                                    <!-- <span class="validationNotify" ng-show="uploadForm.myImage.$error.dimensions">
                                                        <br>Image height should be equal to 350px! Image width should be equal
                                                        to 650px!
                                                    </span> 
                                                    <br>
                                                </div>
                                            </div>-->
                                            <br>
                                            <br>
                                            <br>
                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <button type="submit" class="btn btn-primary" ng-click="festDetailSub(uploadForm, file.upload)">Save</button>
                                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                                </div>
                                            </div>

                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</div>