<div ng-controller="dashboardPersonalDetailController">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading" style="background: #3a4a58">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspPROFILE</span>
                        <notification displayType="{{notificationType}}" message="{{notification}}"></notification>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div ng-if="loginType!='vc4allAdmin'" class="row" style="margin:20px!important;">
                            <div class="col-lg-12">

                                <h2>{{userData[0].schoolName}} </h2>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <table class="table table-sm" ng-if="loginType=='studParent'">

                                    <tr>
                                        <th style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            STUDENT
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="child.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Student Name</b>
                                        </td>
                                        <td>{{userData[0].firstName +" "+ userData[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">ID</b>
                                        </td>
                                        <td> {{userData[0].schoolId}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Class</b>
                                        </td>
                                        <td>
                                            <span ng-repeat="cs in userData[0].cs">{{cs.class}}-{{cs.section}}</span>
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.B</b>
                                        </td>
                                        <td>
                                            {{userData[0].dob | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userData[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

                                <table class="table table-sm" ng-if="loginType=='studParent'">

                                    <tr>
                                        <th style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            FATHER
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="father.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Name</b>
                                        </td>
                                        <td> {{userData[0].parentName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Email</b>
                                        </td>
                                        <td> {{userData[0].parentEmail}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Phone</b>
                                        </td>
                                        <td> {{userData[0].mobileNum}}</td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <table class="table table-sm" ng-if="loginType=='studParent'">

                                    <tr>
                                        <th style="color:  lightcoral;font-size: 20px;font-family:-webkit-pictograph;">
                                            MOTHER
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="mother.jpg">

                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Name</b>
                                        </td>
                                        <td> {{userData[0].motherName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Email</b>
                                        </td>
                                        <td> {{userData[0].motherEmail}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Phone</b>
                                        </td>
                                        <td> {{userData[0].mobileNum}}</td>
                                    </tr>


                                </table>
                            </div>

                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <table class="table table-sm" ng-if="loginType=='teacher'">

                                    <tr>
                                        <th style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            TEACHER
                                        </th>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="child.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userData[0].firstName +" "+ userData[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">ID</b>
                                        </td>
                                        <td> {{userData[0].schoolId}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            {{userData[0].mobNumber}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>

                                        </td>
                                        <td>
                                            {{userData[0].email}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.B</b>
                                        </td>
                                        <td>
                                            {{userData[0].dob | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userData[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="bio-row" ng-if="loginType=='admin'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Name</b>
                                    </span> {{userData[0].firstName +" "+ userData[0].lastName}} </p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='admin'">
                                <p>
                                    <span>
                                        <b style="color:teal;">E-Mail</b>
                                    </span> {{userData[0].email}}</p>
                            </div>

                        </div>
                        <div style="margin: 20px !important;" class="row" ng-if="loginType=='teacher'">
                            <div class=" bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Classes Handle</b>
                                    </span>

                                </p>

                                <table class="table table-sm">
                                    <thead style="background: white;">
                                        <tr>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Subject</th>
                                        </tr>

                                    </thead>
                                    <tbody style="background: white;">
                                        <tr ng-repeat="css in userData[0].css">
                                            <td>{{css.class}}</td>
                                            <td>{{css.section}}</td>
                                            <td>{{css.subject}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div style="margin: 20px !important;" class="row">
                            <div class="fa fa-pencil-square btn btn-warning">
                                &nbsp Edit Details
                            </div>
                        </div>

                        <div ng-if="loginType=='vc4allAdmin'" class="row">
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Name</b>
                                    </span> {{userData[0].firstName +" "+ userData[0].lastName}} </p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Email</b>
                                    </span> {{userData[0].email}} </p>
                            </div>

                        </div>
                    </div>
                </section>

            </div>


        </section>
    </section>

</div>