<div ng-controller="reportsUploadCtl">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- profile -->
            <div id="profile">
                <section class="panel">
                    <div class="bio-graph-heading">
                        <h3>
                            <i class="fa fa-clipboard">
                                <span>&nbspReport</span>
                            </i>
                        </h3>
                    </div>
                    <div class="panel-body bio-graph-info">
                        <div class="row" style="margin-left: 20px !important;margin-right: 20px !important;">
                            <div ng-if="cssList.length==0" class="form-group row">
                                <label class="col-lg-3">Upload Class Detail</label>

                                <input type="file" class="btnCont btnCont-uploadColor col-lg-3" name="myImage"
                                    value="Upload" image-with-preview file-model="classUploadDoc" ng-model="image" accept="csv"
                                    ng-required="true">
                                <img ng-show="image.src" ng-src="{{image.src}}" style="display:inline-block;width:40%; margin-top: 2%;" />

                                <!-- <button ng-if="up.uploadType=='Attendance'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadFile(up.uploadDoc,up.uploadType,up.ttSelect,up.mSelect)">Upload</button> -->
                                <button type="submit" class="btn btn-primary col-lg-3" ng-click="upload_classPeriodsFile(classUploadDoc,'css')">Upload</button>
                            </div>
                            <div ng-if="timeTable_timing.length==0" class="form-group row">
                                <label class="col-lg-3">Upload Periods Detail</label>

                                <input type="file"  class="btnCont btnCont-uploadColor col-lg-3" name="myImage"
                                    value="Upload" image-with-preview file-model="periodsUploadDoc" ng-model="image" accept="csv"
                                    ng-required="true">
                                <img ng-show="image.src" ng-src="{{image.src}}" tyle="display:inline-block;width:40%; margin-top: 2%;" />

                                <!-- <button ng-if="up.uploadType=='Attendance'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadFile(up.uploadDoc,up.uploadType,up.ttSelect,up.mSelect)">Upload</button> -->
                                <button type="submit" class="btn btn-primary col-lg-3" ng-click="upload_classPeriodsFile(periodsUploadDoc,'periods')">Upload</button>
                            </div>
                            <form ng-if="cssList.length!=0 && timeTable_timing.length!=0" role="form" name="uploadForm" encType="multipart/form-data"
                                novalidate>
                                <div class="form-group" ng-repeat="up in uploadReports">
                                    <label class="col-lg-4">Upload Type</label><br>
                                    <select class="btn btn-danger col-lg-3" placeholder="select" ng-model="up.uploadType" ng-options="ut as ut for ut in uploadTypes">
                                        <option value="" disabled selected>Upload Type</option>
                                    </select>

                                    <label ng-if="up.uploadType=='Time Table'" class="col-lg-4">Teacher</label>
                                    <select ng-if="up.uploadType=='Time Table'" class="btn btn-danger col-lg-4" placeholder="select" ng-model="up.tSelect" ng-options="t as t.name +'-'+ t.schoolId for t in teacherList_noTT">
                                        <option value="" disabled selected>Teacher</option>
                                    </select>
                                    <label ng-if="up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''" class="col-lg-4">Class</label>
                                    <select ng-if="up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''" class="btn btn-danger col-lg-4"
                                        placeholder="select" ng-model="up.cSelect" ng-options="c as c.class for c in cssList">
                                        <option value="" disabled selected>Class</option>
                                    </select>
                                    <label ng-if="up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''" class="col-lg-4">Section</label>
                                    <select ng-if="up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!='' " class="btn btn-danger col-lg-4"
                                        placeholder="select" ng-model="up.sSelect" ng-options="s as s for s in up.cSelect.section">
                                        <option value="" disabled selected>Section</option>
                                    </select>

                                    <!-- <select class="btn col-lg-3" placeholder="select" ng-model="up.studSelect" ng-options="cs as cs.name + '-' + cs.studId for cs in studList">
                                                    <option value="" disabled selected>Student</option>
                                                </select> -->
                                    <label class="col-lg-4" ng-if="up.uploadType=='Mark Report'">Type of Test</label>
                                    <select class="btn col-lg-4" ng-if="up.uploadType=='Mark Report'" placeholder="select" ng-model="up.ttSelect" ng-options="tt as tt for tt in testTypes">
                                        <option value="" disabled selected>Type of Test</option>
                                    </select>
                                    <label class="col-lg-4" ng-if="up.uploadType=='Mark Report'">Test Start Date</label>
                                    <input ng-if="up.uploadType=='Mark Report'" type="date" ng-model="up.testDate" placeholder="Select date of test start" value="date">
                                    <label class="col-lg-4" ng-if="up.uploadType=='Attendance'">Attendance report</label>
                                    <select class="btn col-lg-4" ng-if="up.uploadType=='Attendance'" placeholder="select" ng-model="up.ttSelect" ng-options="at as at for at in attendanceTypes">
                                        <option value="" disabled selected>Attendance report</option>
                                    </select>
                                    <label class="col-lg-4" ng-if="up.uploadType=='Attendance'">Month</label>
                                    <select class="btn col-lg-4" ng-if="up.uploadType=='Attendance'" placeholder="select" ng-model="up.mSelect" ng-options="ml as ml for ml in monthList">
                                        <option value="" disabled selected>Attendance report</option>
                                    </select>
                                    <label class="col-lg-4" ng-if="up.uploadType=='Payment'">Payment report</label>
                                    <select class="btn col-lg-4" ng-if="up.uploadType=='Payment'" placeholder="select" ng-model="up.ttSelect" ng-options="tt as tt for tt in testTypes">
                                        <option value="" disabled selected>Payment report</option>
                                    </select>
                                    <br>
                                    <br>
                                    <input type="file" class="btnCont btnCont-uploadColor col-lg-3" name="myImage"
                                        value="Upload" image-with-preview file-model="up.uploadDoc" ng-model="image" accept="csv"
                                        ng-required="true">
                                    <img ng-show="image.src" ng-src="{{image.src}}" tyle="display:inline-block;width:40%; margin-top: 2%;" />

                                    <!-- <button ng-if="up.uploadType=='Attendance'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadFile(up.uploadDoc,up.uploadType,up.ttSelect,up.mSelect)">Upload</button> -->
                                    <button ng-if="up.uploadType=='Attendance'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadFile(up.uploadDoc,up.uploadType, up.cSelect.class,up.sSelect, up.ttSelect, up.mSelect)">Upload</button>
                                    <button ng-if="up.uploadType=='Student Details'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadFile(up.uploadDoc,up.uploadType, up.cSelect.class,up.sSelect)">Upload</button>
                                    <button ng-if="up.uploadType=='Teacher Details'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadFile(up.uploadDoc,up.uploadType)">Upload</button>
                                    <button ng-if="up.uploadType=='Time Table'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadTimeTableFile(up.uploadDoc,up.tSelect)">Upload</button>
                                    <button ng-if="up.uploadType=='Mark Report'" type="submit" class="btn btn-primary col-lg-3" ng-click="uploadMarkFile(up.uploadDoc,up.ttSelect,up.testDate,up.cSelect.class,up.sSelect)">Upload</button>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="reset" class="btn btn-danger">Cancel</button>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>