<div ng-controller="viewUserController">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="bio-graph-heading">
                        <h3>
                            <i class="fa fa-user-circle">
                                <span>&nbspUser Details</span>
                            </i>
                        </h3>
                    </div>
                    <div class="panel-body bio-graph-info">
                        <div ng-if="loginType!='school'" class="row" style="margin-left: 20px !important;margin-right: 20px !important;">

                            <div class="bio-row">

                                <p>
                                    <span>
                                        <b>Name</b>
                                    </span>: {{userDetail[0].firstName +" "+ userDetail[0].lastName}}</p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='vc4allAdmin'">
                                <p>
                                    <span>
                                        <b>School Name</b>
                                    </span>: {{userDetail[0].schoolName}} </p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='admin' && loginType!='vc4allAdmin'">
                                <p>
                                    <span>
                                        <b>ID</b>
                                    </span>: {{userDetail[0].schoolId}} </p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='vc4allAdmin' && loginType!='studParent' && loginType!='teacher'">
                                <p>
                                    <span>
                                        <b>Mobile Number</b>
                                    </span>: {{userDetail[0].mobNumber}} </p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='teacher'">
                                <p>
                                    <span>
                                        <b>Mobile Number</b>
                                    </span>: {{userDetail[0].mobileNum}} </p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Class</b>

                                    </span>:
                                    <span ng-repeat="cs in userDetail[0].cs"> {{cs.class}}/{{cs.section}}</span>
                                </p>
                            </div>

                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Date of birth</b>
                                    </span>: {{userDetail[0].dob}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Date of Join</b>
                                    </span>: {{userDetail[0].doj}}</p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='studParent'">
                                <p>
                                    <span>
                                        <b>E-Mail</b>
                                    </span>: {{userDetail[0].email}}</p>
                            </div>


                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Father Name</b>
                                    </span>: {{userDetail[0].parentName}}</p>
                            </div>



                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Father Email</b>
                                    </span>: {{userDetail[0].parentEmail}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Father Phone</b>
                                    </span>: {{userDetail[0].mobileNum}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Mother Name</b>
                                    </span>: {{userDetail[0].motherName}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b> Mother Email</b>
                                    </span>: {{userDetail[0].motherEmail}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b>Mother Phone</b>
                                    </span>: {{userDetail[0].mobileNum}}</p>
                            </div>

                            <div class="form-group" ng-if="loginType=='teacher'" style=" float: left !important;
    
                            margin-bottom: 10px !important;
                          
                            padding: 0 15px !important;">
                                <p>
                                    <span>
                                        <b>Class Handles</b>
                                    </span>:
                                    <span class="col-sm-3" ng-repeat="css in userDetail[0].css"> {{css.class}}-{{css.section}}-{{css.subject}}</span>
                                </p>

                            </div>
                        </div>
                        <div ng-if="loginType=='school'" class="row" style="margin-left: 20px !important;margin-right: 20px !important;">
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>School Name</b>
                                    </span>: {{userDetail[0].schoolName}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>School RegNumber</b>
                                    </span>: {{userDetail[0].schoolRegNumber}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Address</b>
                                    </span>: {{userDetail[0].address}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Email</b>
                                    </span>: {{userDetail[0].email}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Mobile Number</b>
                                    </span>: {{userDetail[0].mobNumber}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>City</b>
                                    </span>: {{userDetail[0].city}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Street Name</b>
                                    </span>: {{userDetail[0].streetName}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>PinCode</b>
                                    </span>: {{userDetail[0].pinCode}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Country</b>
                                    </span>: {{userDetail[0].country}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b>Status</b>
                                    </span>: {{userDetail[0].status}}</p>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead style="background: white;">
                                        <tr>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Subject</th>
                                        </tr>
                                    </thead>
                                    <tbody  style="background: #ddd;" ng-repeat="css in userDetail[0].css">
                                        <tr>
                                            <td>{{css.class}}</td>
                                            <td><span ng-repeat="sec in css.section track by $index">{{sec}}<span ng-show="!$last">,</span>&nbps</span></td>
                                            <td><span ng-repeat="sub in css.subject  track by $index">{{sub}}<span ng-show="!$last">,</span>&nbps</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- <div class="bio-row" ng-repeat="css in userDetail[0].css">
                                <p>
                                    <span>
                                        <b>Class</b>
                                    </span>: {{css.class}}</p>
                                <p>
                                    <span>
                                        <b>Section</b>
                                    </span>:
                                    <span ng-repeat="sec in css.section">{{sec}}</span>
                                </p>
                                <p>
                                    <span>
                                        <b>Subject</b>
                                    </span>:
                                    <span ng-repeat="sub in css.subject">{{sub}}</span>
                                </p>
                            </div> -->
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>

</div>